.not-found {
    position: absolute;
    width: 704px;
    height: 74px;
    left: 468px;
    top: 300px;
}

.not-found h2 {
    /* font-family: 'Lato'; */
    font-weight: 300;
    font-size: 62px;
    line-height: 74px;
    letter-spacing: -0.005em;

    color: #2A414F;
}

#line{
    position: absolute;
    width: 57px;
    height: 0px;
    left: 95px;
    top: 90px;
   

    border: 1px solid #FF9900;
    transform: rotate(90deg);
}
#nothing{
    position: absolute;
    left: 150px;
    top: 0px;
}